.movies-details-container {
  width: 100%;
  padding: 20px;
}

.movies-details-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.movies-details-btn {
  width: 100%;
  font-weight: bold;
}

.movies-details-coments-header {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.movies-details-coments-header span {
  margin-left: 15px;
}

.movies-details-coments-content p {
  margin: 0;
}

.movies-details-coments-content {
  width: 100%;
  min-height: 52px;
  padding: 4px 8px 4px 8px;
  margin-top: 10px;
  color: #9e9e9e;
  text-align: justify;
  font-size: 15px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.movie-details-card-img-container {
  padding: 20px;
}

.movie-details-img img {
  width: 100%;
  margin-bottom: 15px;
}

.movie-details-title h1 {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -0.015em;
  color: #fff;
  margin-bottom: 2px;
}

.movie-details-year h1 {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.015em;
  color: #ffc700;
}

.movie-details-subtitle p {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.movie-details-synopsis-container {
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  padding: 10px;
}

.movie-details-synopsis-container p {
  color: #9e9e9e;
  letter-spacing: -0.015em;
  font-size: 14px;
  margin-bottom: 0;
}


@media (min-width: 768px) {
  .movies-details-container {
    padding: 20px 40px 40px 40px;
  }

  .movie-details-card-img-container {
    padding: 40px;
  }

  .movie-details-form-container {
    padding: 20px;
  }

  .movie-details-reviews-container {
    padding: 20px;
  }

  .movie-details-title h1 {
    font-size: 35px;
  } 

  .movie-details-year h1 {
    font-size: 25px;
  }

  .movie-details-subtitle p {
    font-size: 24px;
  }

  .movie-details-synopsis-container p {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .movie-details-img {
    display: flex;
    justify-content: center;
  }

  .movie-details-img img {
    width: 600px;
  }
}

@media (min-width: 1200px) {

  .movie-details-img {
    justify-content: flex-start;
  }

  .movie-details-img img {
    width: 500px;
  }

}

@media(min-width: 1400px) {
  .movies-details-container {
    width: 1400px;
    margin: auto;
  }
}